.App {
  text-align: center;
}

.hide {
  visibility: hidden;
}

.ant-layout-header {
  background-color: #ffffff !important; 
}

.user {
  width: 42px;
  position: relative;
  left: 80%;
  top: -175px;
}

h1 {
  color: #108ee9;
}

.logo {
  height: 100%;
  width: 17%;
}

.logo img {
  height: 100%;
}

.menu {
  position: absolute;
  left: 27%;
  top: 0;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 400px;
  background: #ffffff;
  overflow: hidden;
  margin-top: 64px;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-carousel .slick-dots li button  {
  background: #108ee9 !important;
}

.showcase-block {
  border: none;
  box-shadow: 0px 0px 5px #404040;
  height: 200px;
  transition: all 0.8s ease;
  text-align: center;
}

.showcase-block:hover {
  box-shadow: 0px 0px 20px #404040;
}

.showcase-img {
  padding: 5%;
  height: 90%;
}

.showcase-row {
  padding-bottom: 50px;
  background: #92cef9;
}


.product-info-opening .model-number {
  font-size: 10pt;
  color: #888888;
}

.product-info-opening h3 {
  padding-top: 20px;
}

.product-info-opening form {
  padding-top: 20px;
}

.product-info-opening form button {
  margin-top: 20px;
}

.product-info-opening .ant-select {
  width: 150px;
}

.product-info-opening .price {
  padding-top: 20px;

}

.tabs {
  padding-top: 20px;
}

.ant-tabs-content {
  height: 150px;
}

.product-reviews-row {
  margin-top: 25px;
}

.product-reviews-header .new-review {
  top: -30px;
  left: 100px;
}

.ant-popover {
  width: 250px;
}

.new-review-submit {
  margin-top: 10px;
}

.popover-buttons li {
  display: inline;
}

.popover-buttons .new-review-close {
  margin-left: 36%;
}

.new-review-name {
  margin-bottom: 10px;
}

.ant-rate.new-review-rating {
  padding-left: 20% ;
  padding-bottom: 5px;
}

